*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
	outline: none;
	background: none;
	border: none;
}

button {
	padding: 0;
	cursor: pointer;
	background: none;
}

a {
	color: inherit;
	text-decoration: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-family); /* TODO: font */
	font-size: 14px;
	line-height: 1.5;
}

#root {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}
